body{background-color: white;}


#cabecalho {
    background-color: navajowhite;
    color: white;
    display: flex;    
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}